*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;

}
body{
  background:#333;
  margin: auto 0;
}
canvas {
  width: 100%;
}
.content{
  position:fixed;
  z-index:999;
  color:#fff;
  top:50%;
  left:15%;
  transform:translateY(-50%);
  user-select:none;
}
h1{
  font-size:70px;
  margin-bottom:10px;
  text-shadow:0 10px 50px #000;
  width: auto;
}
h2{
  font-size:30px;
    text-shadow:0 10px 50px #000;
}
p{
  font-size: 15px;
  text-shadow: 0 10px 50px #000;
  text-align: justify;
  width: 750px;
}
@media screen and (max-width: 800px) {
  font-size:7vw;
  transform:translatex(30%);
}
hr{
  margin: 20px auto;
  color: rgb(126, 34, 169);
  border: 3px solid rgb(54, 28, 93);
  max-width: 65px;
  opacity: 1;
}
/*.buffer {
  height: rem;
}*/
.btn{
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
  animation: infinite bounce;
  animation-duration: 3s;

}
.btn-primary{
  background-color: purple;
  border-color: purple;
}
.btn-primary:hover {
  background-color: rebeccapurple;
  border-color: rebeccapurple;
  border-width: 4px;
}
.btn-xl{
  padding: 1rem 2rem;
}